
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Amphenol LTW Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/AmphenolReport.css">
    <link rel="stylesheet" type="text/css" href="/CSS/UploadFile.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="../scripts/js/Global.js"></script>
    <script src="../scripts/js/AmphenolReport.js"></script>
</head>
<body>
    <!--  <div class="container-fluied">
           <div class="header v-text-center">
               <img src="../../image/ALTW logo.png" class="v-inline-block" id="logoTitle">
           </div>
       </div>
        -->
    <div>
        <div class="dropdown" id="year">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">2018</a>
                <a class="dropdown-item" href="#">2019</a>
                <a class="dropdown-item" href="#">2020</a>
                <a class="dropdown-item" href="#">2021</a>
                <a class="dropdown-item" href="#">2022</a>
                <a class="dropdown-item" href="#">2023</a>
                <a class="dropdown-item" href="#">2024</a>
                <a class="dropdown-item" href="#">2025</a>
            </div>
        </div>
        <div class="dropdown" id="month">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Month
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Month">
                <a class="dropdown-item" href="#">01</a>
                <a class="dropdown-item" href="#">02</a>
                <a class="dropdown-item" href="#">03</a>
                <a class="dropdown-item" href="#">04</a>
                <a class="dropdown-item" href="#">05</a>
                <a class="dropdown-item" href="#">06</a>
                <a class="dropdown-item" href="#">07</a>
                <a class="dropdown-item" href="#">08</a>
                <a class="dropdown-item" href="#">09</a>
                <a class="dropdown-item" href="#">10</a>
                <a class="dropdown-item" href="#">11</a>
                <a class="dropdown-item" href="#">12</a>
            </div>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="btnQuery">
            Go
        </button>

        <div id="reportDownload">   
        </div>
    </div>
    <br>
    <div class="container">
    </div>
    <div class="row" id="report">

    </div> <!-- row end -->
    <footer><small class="pull-right">copyright@ <a href="http://www.amphenol.com.tw/CH/About_01.asp">Amphenol LTW Technology Co.,Ltd</a></small></footer>

</body>
</html>