<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/js/Budget/angular.min.js"></script>
    <script src="../scripts/js/test1.js"></script>
</head>
<body>
    <div>
        <input type="text" id="account" value="test">
        <button id="testpost">post</button>
    </div>

    <div ng-app="myApp" ng-controller="myController">
        <table>
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Age</th>
            </tr>
            <tr ng-repeat="emps in employees | orderBy : 'id'">

                <td>{{emps.id}}</td>
                <td>{{emps.name}}</td>
                <td>{{emps.age}}</td>
            </tr>
        </table>
    </div>
</body>
<script>

</script>
</html>
