<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>-->
    <script src="../scripts/js/login.js"></script>
    <script src="../scripts/js/Report/Backstretch.js"></script>
    <script src="../scripts/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/login.css">
</head>
<body id="LoginForm">

    <div class="container" id="login_div">
        <h1 class="form-heading"> </h1>
        <div class="login-form">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <h2> Login</h2>
                        <p>Please enter your account and password</p>
                    </div>
                    <div>
                        <textarea id="token" style="display:none"></textarea>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="username" placeholder="Account">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="forgot">
                        <!--<a href="reset.html">Forgot password?</a>-->
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" id="chkRemember"> Remember me</label>
                    </div>
                    <button id="login" class="btn btn-primary">Login</button> <div class="panel">
                        <h3>please don't use ie6 ie7 ie8 ...old ie browser version (#6822 Jelly)</h3>
                    </div>
                </div>
                <a class="botto-text" href="http://www.amphenol.com.tw/CH/About_01.asp">Amphenol LTW Technology Co.,Ltd</a>
            </div>
        </div>

</body>

</html>
