
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Month Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/MonthReport.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src=js/v-menu.js></script>
    <script src="../scripts/js/Global.js"></script>   
    <script src="../scripts/js/MonthReport.js"></script>  
</head>

<body> 
   
    <div class="con " ></div> 
    <footer><small class="pull-right">copyright@ <a href="http://www.amphenol.com.tw/CH/About_01.asp">Amphenol LTW Technology Co.,Ltd</a></small></footer>
   <!-- <div class="footer" id="FOOTER"  >
            <table border="0" cellspacing="0" cellpadding="0"  >
                <tr>
                    <td width="200" rowspan="2" align="right"><img src="../../Image/IndexPage/AmphenolReport/logo-2.jpg" alt="Amphenol" width="158" height="44" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="info">
                        地址： 236新北市土城區中央路四段51號<br />
                        電話：02 7741 6888　 <br />
                    </td>
                </tr>
            </table>
      </div>-->
</body>
</html>